.view-middleware{
  @extend %userSelect;
  margin: 0 auto;
  min-height: 100vh;
  @extend %flexCentering;
  text-align: center;
  flex-direction: column;
  background: #7DCDC1;
  &__img{
    max-width: 200px;
    margin: 0 auto;
    img{
      max-width: 100%;
    }
  }
  &__title{
    @include setFontSize(25px);
    font-weight: bold;
    color: $text-color;
    padding: 0 5px;
  }
}