.gradient{
  text-align: center;
  height: 200px;
  clip-path: ellipse(70% 50% at 50% 30%);
  // position: relative; 
}
.profile{
  color: $text-color;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__upgrade{
    display: flex;
    justify-content: center;  
    flex-direction: column;
  }
  &__img{
    margin: 0 auto;  
    margin-top: -100px;
    position: relative;
  }
  &__name{
    padding-top: 20px;
    width: 70%;
    margin: 0 auto;
    @include setFontSize(24px);
  }
  &__username{
    @include setFontSize(1em);
    padding-bottom: 7px;
  }
  &__btn-group{
    @extend %flexCentering;
    margin-top: auto;
    padding-bottom: 80px;
  }
  &__btn{
    @include setFontSize(14px);
  }
  &__edit-photo{
    border-radius: inherit;
    @extend %absoluteFull;
    @extend %bgStandard;
    input{
      @extend %absoluteFull;
      z-index: 3;
      opacity: 0;
    }
    &::before{
      // content: 'Choose a file';
      content: 'Upload a file';
      color: #fff;
      opacity: 1;
      font-weight: 600;
      padding-bottom: 20px;
      border-radius: inherit;
      @extend %flexCentering;
      align-items: flex-end;
      @extend %absoluteFull;
      @include setFontSize(16px);
      background: rgba($color: #000000, $alpha: 0.7);
    } 
  }
}