.circle{
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 99; 
  left: 0%;
  top: 0%;
  transition: 1s;
  background: $theme-bg;
}
.home{
  color: $text-color;
  padding-bottom: 100px;
  @extend %userSelect;
  @extend %maxWidthCenter;
}
.home-title{
  position: relative;
  @extend %flexCentering;
}
.vs-button.add-btn{
  position: absolute;
  right: 0;
}
.vs-button--floating.add-btn:hover{
  transform: none;
}
.posts{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}