.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
  .auth-wrap{
    height: 100vh;
    background-image: url('../assets/gradient-abstract-background.jpg');
    @extend %bgStandard;
    @extend %flexCentering;
    flex-direction: column;

  }
  .auth-form{
    @extend %userSelect;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  .auth-form-title{
    text-align: center;
    color: $theme-bg;
    @include setFontSize(40px);
    margin-bottom: 50px;
  }      
  .form{  
    display: flex;
    flex-direction: column;
  }
  .form-wrap{
    position: relative;
    width: 85%;  
  }
  .input-group{
    background: #fff;
    @include setBorderRadius(0, 100px, 100px, 0);
    box-shadow: 5px 0px 28px -10px rgba(30, 30, 46, 0.25);
    overflow-x: hidden;
  }
  .form-input .vs-input{ 
    border-radius: 0;
    padding: 15px;
    width: 80%;
    background: inherit;
    padding-left: 55px;
  } 
  .form-input .vs-input:focus.vs-input--has-icon:not(.vs-input--has-icon--after){
    padding-left: 50px;
  }
  .form-input .vs-input__label{
    padding-left: 10px;
  }
  .form-input .vs-input__icon{
    margin-left: 10px;
    @extend %userSelect;
  }
  .form-btn{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-55%);
    border-radius: 50%; 
    color: $text-color;
    @include setFontSize(25px);
    background: linear-gradient(90deg, #15C5CF, #30E3A4);
  }
  .forgot{
    padding: 20px 20px 0 0;
    text-align: right;
    font-weight: 600;
    color: #CCCED0;
    @include setFontSize(14px);
  }
  .toggleForm{
    color: #EF9C8D;
    @include setFontSize(15px);
    font-weight: 600;
    margin: 25px 0;
    padding: 0px 15px;
    background: none;
    @include setBorderRadius(0, 25px, 25px, 0);
    box-shadow: 2px 5px 15px -8px rgba(30, 30, 46, 0.25);
  }
  .toggleForm:hover::before{
    opacity: 0;
  }
@media (max-width: 600px){
  .vs-notification{
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
  }
}