.addPost-title{
  &__input {
    position: relative;
    & .vs-input__label{
      color: $text-color;
      @include setFontSize(18px);
      opacity: 1; 
    } 
    & .vs-input{
      width: 100%;
      @include setFontSize(16px);
      padding: 7px;
      padding-right: 30px;
    }    
  }
}
.input:-internal-autofill-selected{
  background-color: transparent !important;
}

.addPost-photo{
  &__btn .vs-button__content{
    padding: 7px;
  }
}