.progress{
  position: absolute;
  width: 25px;
  height: 100%;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.2);
  @extend %flexCentering;
  @include setBorderRadius(0, 10px, 10px, 0);
  &-circle{
    width: 18px;
  }    
}
.addPost{
  padding-bottom: 80px;
  @extend %maxWidthCenter;
  &__input {
    width: 80%;
    margin: 0 auto;  
    position: relative;
  }
  &__fields{
    margin: 10px auto 0 auto;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }
}
.addPost-text{
  &__label{
    color: $text-color;
    @include setFontSize(18px);
  }
  &__textarea{
    padding: 7px;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    resize: vertical;
    outline: none;
    transition: .3s;
    @include setFontSize(16px);
    &:active, &:focus{
      border-color: #FFBA00;
      border-width: 2px;
    }
  }
}
.addPost-photo{
  margin: 10px 0;
  &__label{
    color: $text-color;
    @extend %flexCentering;
    justify-content: space-between;
    @include setFontSize(18px);
  }
  &__btn{
    font-size: 12px;
  }
}
.addPost-upload{
  position: relative;
  padding-top: 56.25%;
  border-radius: 10px;
  @include setFontSize(20px);
  position: relative; 
  &__input{
    @extend %absoluteFull;
    opacity: 0;
    z-index: 2;
  }
  &__frame{
    @extend %absoluteFull;
    @extend %bgStandard;
    border-radius: inherit;
  } 
  &::before{
    content: 'Upload File ☁';
    @extend %absoluteFull;
    @extend %flexCentering;
    background: #fff;
    border-radius: inherit;
    border: 2.5px dotted deepskyblue;
  }
}