.key-input{
  .vs-input{
    // width: 250px;
    border-radius: 8px;
    color: $sub-color;
    padding: 10px;
    padding-right: 40px;
    &__label{
      color: $sub-color;
      opacity: 1;
    }
  }
  .vs-button{
    border-radius: 5px;
    &--icon i{
      @include setFontSize(15px);
    }
    &__loading{
      background: fade-out($sub-color, .4);
    }
  }
}