.key-input{
  @extend %flexCentering;
  text-align: center;
  .vs-button--default{
    background: $sub-bg;
  }
  .vs-input-content{
    margin: 0 auto;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .vs-button{
    margin-left: -35px;
    &__content{
      padding: 5px;
    }
  }
  .vs-button--default:hover{
    transform: none;
  } 
}