.create-chat{
  width: 100%;
  @extend %userSelect;
  @extend %flexCentering;
  justify-content: space-around;
  &__settings{
    display: flex;
    flex-direction: column;
  }
  &__group{
    @extend %flexCentering;
    justify-content: space-between;
  }
  &__title,
  &__secretKey{
    margin: 5px 0;
  } 
  &__photo{
    position: relative;
    .vs-avatar img{
      @extend %fullImg;
    }
  }
  &__fileselect{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 50%;
    opacity: 0;
  }
  .vs-input__label{
    opacity: 1;
  }
}