// @import '@/style/ChatRoomComponent/style_scoped.scss';
.info{
  margin-left: 20px;
  &__top,
  &__footer{
    padding: 0;
    margin: 2px 0;
  }
  &__title{
    @include setFontSize(14px);
  }
}
.chat{
  position: relative;
  color: $text-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // padding-bottom: 60px;
  &-info{
    display: flex;
  }
  &-header{
    position: relative;
    z-index: 99;
    padding: 10px;
    border-radius:0 0 8px 8px;
    justify-content: center;
    box-shadow: 0px 3px 35px -20px rgba($main-color, 0.65);
    display: flex;
    align-items: center;
    &__title{
      margin-left: 15px;
      display: flex;
      align-items: center;
    }
    &__content{
      display: flex;
      align-items: center;
    }
  }
  &-backRoute{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%); 
  }
}
.create{
  // flex-basis: 50px;
  // flex-shrink: 0;
  position: fixed;
  width: 100%;
  bottom: 0px;
  z-index: 9;
}
.messages-area-wrap{
  position: relative;
  flex: 1;
  overflow: auto;
  background: #28293D url('../assets/chatBG.jpg') no-repeat center;
  background-size: cover;
  z-index: 1;
  &::before{
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: rgba($theme-bg, 0.75);
  }
}
.messages-area{
  padding: 0 10px 50px 10px;
}