.info{
  margin-left: 20px;
  &__top,
  &__footer{
    padding: 0;
    margin: 2px 0;
  }
  &__title{
    @include setFontSize(14px);
  }
}
.chat{
  @extend %userSelect;
  position: relative;
  color: $text-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  &-info{
    display: flex;
  }
  &-header{
    position: relative;
    z-index: 99;
    padding: 10px;
    box-shadow: 0px 3px 35px -20px rgba($main-color, 0.65);
    @extend %flexCentering;
    @extend %maxWidthCenter;
    @include setBorderRadius(0, 0, 8px, 8px);
    &__title{
      margin-left: 15px;
      display: flex;
      align-items: center;
    }
    &__content{
      display: flex;
      align-items: center;
    }
  }
  &-backRoute{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%); 
  }
}
.create{
  position: relative;
  z-index: 9;
  background: $theme-bg;
  // position: fixed;
  // width: 100%;
  // bottom: 0px;
  // z-index: 9; 
  // left: 0;
}
.messages-area-wrap{
  position: relative;
  flex: 1;
  overflow: auto;
  background: #28293D url('../assets/chatBG.jpg') no-repeat center;
  background-size: cover;
  z-index: 1;
  &::before{
    content: '';
    @extend %absoluteFull;
    position: fixed;
    z-index: -1;
    background-color: rgba($theme-bg, 0.75);
  }
}
.messages-area{
  padding: 0 10px 40px 10px;
  @extend %maxWidthCenter;
}