$duration: 1.6s;

@mixin animation-gradient {
  background-image: linear-gradient(
    90deg,
    $theme-bg 0px,
    $main-color 40px,
    $theme-bg 80px
  );
  background-size: 360px;
}
@keyframes animate-line {
  0% {
    background-position: 100%;
  }
  40%,
  100% {
    background-position: -100%;
  }
}
@mixin loading($width, $height){
  width: $width;
  height: $height;
  position: relative;
  border-radius: 6px;
}
@mixin loadingBefore {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  @include animation-gradient;
  background-color: $theme-bg;
  animation: animate-line $duration infinite linear;
}

.chat-room{
  user-select: none;
  position: relative;
  margin: 15px 0;
  background: #28293d;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  // align-items: center;
  color: $text-color;
  &__borderLine{
    width: 3px;
    height: 66%;
    position: absolute;
    left: 0px;
    top: 50%;
    background: $main-color;
    box-shadow: 0 0 0.2rem $main-color, 
                inset 0 0 0.2rem $main-color,
                0 0 0.5rem $main-color,
                inset 0 0 0.5rem $main-color,
                0 0 4rem $main-color,
                inset 0 0 4rem $main-color;
    border-radius: 0 8px 8px 0;
    transform: translateY(-50%);
    transition: .3s;
    z-index: 99;
  }
  &__photo{
    margin-right: 10px;
    margin-left: 5px;
    img {
      height: 100%;
      object-fit: cover;
    }
    &.loading{
      position: relative;
      ::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;  
        width: 100%;
        height: 100%;
        z-index: 9;
        background: $theme-bg;
        border-radius: 50%;
      }
    }
  }
}
.info{
  flex: 1;
  display: flex;
  flex-direction: column;
  width: calc(100% - 100px);
  @include setFontSize(10px);
  &__top,
  &__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;   
  }
  &__footer{
    margin-top: auto;
  }
  &__title{
    @extend %text-overflow; 
    margin-right: 10px;
    @include setFontSize(15px);
    &.loading{
      @include loading(90px, 6px);
      &::before{
        @include loadingBefore;
      }
    }
  }
  &__icon{
    margin-right: 5px;
  }
  &__createAt{
    &.loading{
      opacity: 0;
    }
  }
  &__counterMsg{
    text-align: center;
    background: $main-color;
    border-radius: 4px;
    padding: 3px;
    &.loading{
      opacity: 0;
    }
  }
  &__lastMsg{
    @extend %text-overflow;
    margin-right: 10px;
    @include setFontSize(12px);
    &.loading{
      @include loading(180px, 6px);
      &::before{
        @include loadingBefore;
      }
    }
  }
  &__lastUserName{
    @include setFontSize(14px);
  }
}

.showSecret{
  display: flex;
  align-items: center;
  justify-content: center;
  animation: showSecret .6s forwards;
}
.showSecret ~ div{
  animation: blurRoom .25s forwards .4s;
}
.room-middleware{
  opacity: 0;
  transform: translateX(-20px);
  animation: middleware .3s forwards .7s;
}
@keyframes middleware {
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes blurRoom {
  100%{filter: blur(1.5px);}
}
@keyframes showSecret {
  0%{
    width: 3px;
    height: 66%;
  }
  70%{
    width: 100%;
    height: 66%;
    box-shadow: 0 0 0.5rem $main-color;
  }
  100%{
    background: fade-out($main-color, .25);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 0.5rem $main-color;
  }
}