.center{
  flex-direction: column;
  .content-div{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
    @extend %flexCentering;
    flex-direction: column;
    text-align: center;
    @include setFontSize(.6rem);
  }
} 